:root {
    --text-color: #9ca3af;
    --text-heading-color: #f3f4f6;
    --background-color: #16171d;
    --background-post-color: #08060d;
    --background-comment-color: #27242d;
    --border-color: #2e303a;
    --border-post-color: #715252;
    /* --shadow:
      #00000066 0 10px 15px -3px, #00000040 0 4px 6px -2px; */

  /* Fonts */
  --font-sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --font-heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --font-mono: ui-monospace, Consolas, monospace;

  font: 16px/145% var(--font-sans);
  letter-spacing: 0.18px;
  color: var(--text-color);
  background: var(--background-color);
  /* font-synthesis: none; prevents the browser from automatically creating missing font styles (like bold or italic) for a specified font*/
  font-synthesis: none;
  /* text-rendering: optimizeLegibility; enhances the readability of text by enabling features like kerning and ligatures, especially for larger text sizes */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

body {
  margin: 0;
}

h1, h2, h3 {
  color: var(--text-heading-color);
  font-family: var(--font-heading);
  font-weight: 500;
}

h1 {
  font-size: 3rem;
}

h2, h3, p {
  margin: 0;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1rem;
}

#app {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border-color);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

#posts-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 2px solid var(--border-color);
  border-radius: 0.5rem;
  margin: 1rem;
  padding: 1rem;
}

.post-article {
  background-color: var(--background-post-color);
  border: 2px solid var(--border-post-color);
  border-radius: 0.5rem;
  padding: 1rem;
  text-align: left;
  text-wrap: wrap;
}

.post-article-comment {
  background-color: var(--background-comment-color);
  border: 2px solid var(--border-color);
  border-radius: 0.5rem;
  margin: 1rem;
  padding: 1rem;
}

.time-stamp {
  font-size: .8rem;
  margin: 0.35rem 0;
  text-transform: uppercase;
}

.comment-button {
  background-color: none;
  border: 2px solid var(--border-color);
  border-radius: 1rem;
  font-family: var(--font-mono);
  letter-spacing: 2px;
  margin: 0.25rem 0;
  padding: 0.25rem 0.5rem;
  text-transform: uppercase;
}

.comment-button:hover {
  transform: scale(1.1);
}

.hr-line {
  border-color: var(--border-post-color) ;
}

.post-message, .post-comment-message {
  font-family: var(--font-mono);
}

.post-message {
  font-size: 1.25rem;
}

.post-comment-message {
  font-size: 1rem;
}

footer {
  
  color: var(--text-color);
  font-family: var(--font-sans);
  margin: 1rem;
  text-align: center;
}