/* Root */
:root {
    --gray: #9c9aa7;
    --white: #e9e9f1;
    --blue-dk: #16171d;
    --black: #111112;
    --blue-gray: #43434c;
    --blue: #2e303a;
    --blue-trans: #2e303aea;
    --red: #7f3d3d;
    --red-trans: #7f3d3dea;

  /*** Fonts */
  --font-sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --font-heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --font-mono: ui-monospace, Consolas, monospace;

  /*** Spacing */
  --spacer-big: 0.5rem;
  --space-medium: 0.25rem;
  --spacer-small: 0.125rem;

  font: 16px/145% var(--font-sans);
  letter-spacing: 0.18px;
  color: var(--gray);
  background: var(--blue-dk);
  /* font-synthesis: none; prevents the browser from automatically creating missing font styles (like bold or italic) for a specified font*/
  font-synthesis: none;
  /* text-rendering: optimizeLegibility; enhances the readability of text by enabling features like kerning and ligatures, especially for larger text sizes */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

/* Standard HTML tags */

body {
  margin: 0;
}

h1, h2, h3 {
  color: var(--white);
  font-family: var(--font-heading);
  font-weight: 500;
}

h1 {
  font-size: 1.5rem;
}

h2, h3, p {
  margin: 0;
}

h2 {
  font-size: 1.125rem;
}

h3 {
  font-size: 1rem;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--spacer-big);
  margin: var(--spacer-big);
}

form {
  display: flex;
  flex-direction: column;
}

label {
  color: var(--gray);
  font-family: var(--font-mono);
  /* text-align: left; */
}

input {
  /* all: unset; */
  height: 1.25rem;
  width: 96.25%;
  background-color: var(--white);
  border: 2px solid var(--gray);
  border-radius: var(--spacer-big);
  /* margin: var(--spacer-big); */
  margin-bottom: var(--spacer-big);
  padding-left: var(--space-medium);
}

footer {
  color: var(--gray);
  font-family: var(--font-mono);
  margin: var(--spacer-big);
  text-align: center;
  text-transform: uppercase;
}

/* Buttons */
button {
  height: fit-content;
  width: fit-content;
  background-color: var(--gray);
  border: 2px solid var(--red);
  border-radius: var(--spacer-big);
  cursor: pointer;
  font-family: var(--font-mono);
  font-size: .8rem;
  letter-spacing: 2px;
  padding: var(--spacer-small) var(--space-medium);
  text-transform: uppercase;
}

button:hover {
  background-color: var(--white);
  transform: scale(1.05);
}

.close-modal-button {
  height: 2rem;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--red);
  border: 2px solid var(--gray);
  border-radius: 100%;
  color: var(--gray);
  font-size: 1.5rem;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 0;
  margin: 0;
  padding: 0.5rem;
}

.close-modal-button:hover {
    background-color: var(--gray);
  border: 2px solid var(--red);
  border-radius: 100%;
  color: var(--red);
  transform: scale(1.25);
}

.login-signup-button, .signup-login-button {
   width: 100%;
   text-align: left;
}

/* .login-signup-button:hover, .signup-login-button:hover {
  transform: none;
} */

/* Containers */
/*** Basic Containers  */
.row-container {
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--space-medium);
  /* margin: 0 0 var(--spacer-big) 0; */
}

/*** Specific Containers  */
.header-button-container {
  display: flex;
  gap: var(--spacer-big);
}

#posts-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacer-big);
  border: 2px solid var(--blue);
  border-radius: var(--spacer-big);
  margin: var(--spacer-big);
  padding: var(--spacer-big);
}

#modal-container {
  /* Hidden by default */
  display: none; 
  position: fixed; /* Stay in place */

  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #000000; /* Fallback color */
  background-color: #00000066; /* Black w/ opacity */
  z-index: 1000;
}

/* Modal, sans #modal-container */
.modal-content {
  max-width: 300px;
  background-color: var(--blue-trans);
  border: 2px solid var(--gray);
  border-radius: var(--spacer-big);
  /* x% from the top and centered */
  margin: 20% auto; 
  padding: 1rem;
  width: 75%; /* Could be more or less, depending on screen size */
}
/*** The Close Button */
/* .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
} */

/* .close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} */

.login-form, .signup-form {
  /* width: 100%; */
  display: flex;
  align-items: start;
  justify-content: center;
  /* margin: 0; */
}

.signup-form {
  display: none;
}

.login-form h1, .signup-form h1 {
  color: var(--white);
  font-size: 2.25rem;
  margin-top: 0;
  /* text-align: left; */
}

.login-form button, .signup-form button {
  margin-top: 0.5rem;
}

/* Id and Class in Order */

#app {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--blue);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.post-article {
  background-color: var(--black);
  border: 2px solid var(--red);
  border-radius: var(--spacer-big);
  padding: 1rem;
  text-align: left;
  text-wrap: wrap;
}

.post-article-comment {
  background-color: var(--blue-gray);
  border: 2px solid var(--blue);
  border-radius: var(--spacer-big);
  margin: var(--spacer-big);
  padding: var(--spacer-big);
}

.time-stamp {
  font-size: .8rem;
  margin: 0.35rem 0;
  text-transform: uppercase;
}


.hr-line1 {
  border-color: var(--red) ;
}

.hr-line2 {
  border-color: var(--blue) ;
}

.post-message, .post-comment-message {
  font-family: var(--font-mono);
}

.post-message {
  font-size: 1.25rem;
}

.post-comment-message {
  font-size: 1rem;
}


/* Misc */

/* .hidden {
  display: none;
} */

/* .margin-bottom {
  margin-bottom: var(--spacer-big);
} */

.justify-content-end {
  align-items: center;
  justify-content: end;
  /* background-color: red; */
}
.justify-content-space-between {
  align-items: center;
  justify-content: space-between;
  /* background-color: red; */
}