/* Root */
:root {
    --text-color: #9ca3af;
    --text-heading-color: #f3f4f6;
    --background-color: #16171d;
    --background-post-color: #08060d;
    --background-comment-color: #27242d;
    --border-color: #2e303a;
    --border-post-color: #715252;

  /*** Fonts */
  --font-sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --font-heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --font-mono: ui-monospace, Consolas, monospace;

  /*** Spacing */
  --spacer-big: 0.5rem;
  --space-medium: 0.25rem;
  --spacer-small: 0.125rem;

  font: 16px/145% var(--font-sans);
  letter-spacing: 0.18px;
  color: var(--text-color);
  background: var(--background-color);
  /* font-synthesis: none; prevents the browser from automatically creating missing font styles (like bold or italic) for a specified font*/
  font-synthesis: none;
  /* text-rendering: optimizeLegibility; enhances the readability of text by enabling features like kerning and ligatures, especially for larger text sizes */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

/* Standard HTML tags */

body {
  margin: 0;
}

h1, h2, h3 {
  color: var(--text-heading-color);
  font-family: var(--font-heading);
  font-weight: 500;
}

h1 {
  font-size: 1.5rem;
}

h2, h3, p {
  margin: 0;
}

h2 {
  font-size: 1.125rem;
}

h3 {
  font-size: 1rem;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--spacer-big);
  margin: var(--spacer-big);
}

footer {
  color: var(--text-color);
  font-family: var(--font-mono);
  margin: var(--spacer-big);
  text-align: center;
  text-transform: uppercase;
}

/* Buttons */
button {
  height: fit-content;
  width: fit-content;
  background-color: var(--text-color);
  border: 2px solid var(--border-post-color);
  border-radius: var(--spacer-big);
  font-family: var(--font-mono);
  font-size: .8rem;
  letter-spacing: 2px;
  padding: var(--spacer-small) var(--space-medium);
  text-transform: uppercase;
}

button:hover {
  background-color: var(--text-heading-color);
  transform: scale(1.1);
}

/* Containers */
/*** Basic Containers  */
.row-container {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: var(--space-medium);
}

/*** Specific Containers  */
.header-button-container {
  display: flex;
  gap: var(--spacer-big);
}

#posts-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacer-big);
  border: 2px solid var(--border-color);
  border-radius: var(--spacer-big);
  margin: var(--spacer-big);
  padding: var(--spacer-big);
}

/* Id and Class in Order */

#app {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border-color);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.post-article {
  background-color: var(--background-post-color);
  border: 2px solid var(--border-post-color);
  border-radius: var(--spacer-big);
  padding: 1rem;
  text-align: left;
  text-wrap: wrap;
}

.post-article-comment {
  background-color: var(--background-comment-color);
  border: 2px solid var(--border-color);
  border-radius: var(--spacer-big);
  margin: var(--spacer-big);
  padding: var(--spacer-big);
}

.time-stamp {
  font-size: .8rem;
  margin: 0.35rem 0;
  text-transform: uppercase;
}


.hr-line1 {
  border-color: var(--border-post-color) ;
}

.hr-line2 {
  border-color: var(--border-color) ;
}

.post-message, .post-comment-message {
  font-family: var(--font-mono);
}

.post-message {
  font-size: 1.25rem;
}

.post-comment-message {
  font-size: 1rem;
}
